// .mail-content {
//   margin: 1em 0;
// }
// .login-submit {
//   padding: 14px 3em;
//   font-weight: bold;
//   font-style: normal;
//   font-size: 14px;
//   line-height: 17px;
//   text-transform: uppercase;
//   cursor: pointer;
//   letter-spacing: 1px;
//   height: auto;
//   border-radius: 2px;
//   border: 1px solid #4BD13D;
//   background: #4BD13D;
//   color: #414141;
// }
// .cancel-align {
//   margin-left: 15px;
// }
// .top-align {
//   margin-top: 25px;
// }
// .full-container {
//   padding-left: 50px;
//   max-width: 600px;
// }

.title {
  padding: 10px 27px 10px 45px;
  background: #4BD13D;
  font-weight: bold;
  font-family: Raleway, sans-serif;
}

.title-reset {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.left-half {
  left: 0;
  width: 20%;
  display: inline-block;
  text-align: right;
  color: #545454;
}
.right-half {
  right: 0;
  width: 50%;
  display: inline-block;
  margin-left: 50px;
}

.update-button {
  width: 76% !important;
  text-align: end;
}

.edit-icon {
  margin: 17px;
  background: #4BD13D;
}

.cancel-button {
  margin-left: 15px;
  background: lightgray;
}
