<div class="details">
  <ngx-spinner
  bdOpacity = 0.9
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#4BD13D"
  type="ball-scale-multiple"
  [fullScreen] = "false">
</ngx-spinner>
  <form novalidate [formGroup]="resetForm" class="login-box">
    <h3 class="title title-reset">Reset your password</h3>

    <div class="invLine"></div>

    <div class="left-half">
      <div class="bold-font">Old Password:</div>
    </div>
    <div class="right-half">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label class="label-name">Old Password</mat-label>
        <input matInput type="password" placeholder="Old Password" formControlName="oldPassword">
      </mat-form-field>
    </div>

    <div class="invLine"></div>

    <div class="left-half">
      <div class="bold-font">New Password:</div>
    </div>
    <div class="right-half">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label class="label-name">New Password</mat-label>
        <input matInput type="password" placeholder="New Password" formControlName="password">
      </mat-form-field>
    </div>

    <div class="invLine"></div>

    <div class="left-half">
      <div class="bold-font">Confirm Password:</div>
    </div>
    <div class="right-half">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label class="label-name">Confirm Password</mat-label>
        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
      </mat-form-field>
    </div>

    <div class="invLine"></div>


    <div class="update-button">
      <button type="submit" mat-flat-button color="primary"
              class="display edit-icon" (click)="onSubmit()">Submit</button>

      <button type="submit" mat-flat-button
              class="display cancel-button" (click)="cancel()">Cancel</button>
    </div>

  </form>
</div>
