<div class="detail-padding">
  <div class="full-container">
    <div class="login-box-heading">
      <h1 class="head-font common-padding">Reset your password</h1>
    </div>
    <form novalidate [formGroup]="resetForm" class="login-box">

      <div class="botton-padding">
        <mat-form-field appearance="outline" class="label-width w-100 mat-bottom-remove">
          <mat-label class="label-name">Old Password</mat-label>
          <input type="password" matInput formControlName="oldPassword">
        </mat-form-field>

      </div>

      <div class="botton-padding">
        <mat-form-field appearance="outline" class="label-width w-100 mat-bottom-remove">
          <mat-label class="label-name">Password</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>

      </div>

      <div class="botton-padding">
        <mat-form-field appearance="outline" class="label-width w-100 mat-bottom-remove">
          <mat-label class="label-name">Confirm Password</mat-label>
          <input type="password" matInput formControlName="confirmPassword">
        </mat-form-field>
      </div>

      <div class="buttonrow top-align">
        <button type="submit" mat-flat-button class="login-submit" (click)="onSubmit()">
          Submit</button>

        <div class="display cancel-align">
          <span>or <span class="link-color mouse-events" [routerLink]="'/profile'">Cancel</span></span>
        </div>
      </div>

    </form>

  </div>
</div>
