.update-button {
    // width: 76% !important;
    text-align: center;
    margin-top: 20px;
  }

.edit-icon{
    color:#fff;
    font-size: 13px!important;
    background: #4BD13D;
}

.cancel-button {
    margin-left: 15px;
    background: lightgray;
    font-size: 13px!important;
  }

  h3 {
      font-weight: 600;
      margin-bottom: 22px;
  } 