<div id="ticketCom">
  <!-- Main content -->
  <section class="content">
      <div id="tickets-cont-dev">

        <section class="content-header">
          <button mat-button>
            <a href="/cosmetologist">
            <mat-icon class="back-icon">keyboard_arrow_left</mat-icon>
            <span > Back to Cosmetologist List</span>
            </a>
          </button>
        </section>

        <div class="row">
          <div class="col-md-6 profile-section-split">
            <div class="content-left-area-tickets-single organization-details">
              <h2>Costmetologist Profile</h2>
              <div class="panel-custom clearfix">
                <div class="profile-section clearfix" style="background: #f4f4f7;">
                  <img src="https://swivr-dev.s3.us-east-2.amazonaws.com/cosmetologist/image-182cbf7e-5199-4512-a866-1c499049701d.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA4GG3GNFSZGKCSXRI%2F20210106%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20210106T115551Z&X-Amz-Expires=3600&X-Amz-Signature=d2e1826100ffb9a20d9e7679fb3a334747212ee70075c00cbd7bb73027c8728d&X-Amz-SignedHeaders=host"
                       class="profile-pic">
                  <div class="display">
                    <div class="profile-name-design">fdgdf</div>
                  </div>
                </div>
              </div>

              <div class="panel-custom clearfix">
                <div class="detail_section clearfix">
                  <div class="row col-md-12">
                    <div class="col-md-2">
                      <div> <span class="left_labels">
                            Address : </span></div>
                    </div>
                    <div class="col-md-9">
                      <div><span><strong>Soft Suave Technologies Pvt Ltd, Kundrathur Main Road, MS Nagar, Porur, Chennai, Tamil Nadu, India</strong></span></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel-custom clearfix">
                <div class="detail_section clearfix">
                  <div class="row col-md-12">
                    <div class="col-md-6 row">
                    <div class="col-md-5">
                      <div> <span class="left_labels">
                            Email : </span></div>
                    </div>
                    <div class="col-md-6">
                      <div><span><strong>sdfsfsd@fxgfdg.dfgddf</strong></span></div>
                    </div>
                    </div>
                    <div class="col-md-6 row">
                    <div class="col-md-6">
                      <div> <span class="left_labels">
                          Contact Number : </span></div>
                    </div>
                    <div class="col-md-6">
                      <div><span><strong>8965745632589</strong></span></div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

          <div class="col-md-6 shop-section-split">
            <div class="content-left-area-tickets-single organization-details">
              <h2>Shop Profile</h2>
              <div class="panel-custom clearfix">
                <div class="profile-section clearfix" style="background: #f4f4f7;">
                  <img src="https://swivr-dev.s3.us-east-2.amazonaws.com/cosmetologist/image-182cbf7e-5199-4512-a866-1c499049701d.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA4GG3GNFSZGKCSXRI%2F20210106%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20210106T115551Z&X-Amz-Expires=3600&X-Amz-Signature=d2e1826100ffb9a20d9e7679fb3a334747212ee70075c00cbd7bb73027c8728d&X-Amz-SignedHeaders=host"
                       class="profile-pic">
                  <div class="display">
                    <div class="profile-name-design">fdgdf</div>
                  </div>
                </div>
              </div>

              <div class="panel-custom clearfix">
                <div class="detail_section clearfix">
                  <div class="row col-md-12">
                    <div class="col-md-2">
                      <div> <span class="left_labels">
                            Address : </span></div>
                    </div>
                    <div class="col-md-9">
                      <div><span><strong>Soft Suave Technologies Pvt Ltd, Kundrathur Main Road, MS Nagar, Porur, Chennai, Tamil Nadu, India</strong></span></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel-custom clearfix">
                <div class="detail_section clearfix">
                  <div class="row col-md-12">
                    <div class="col-md-6 row">
                      <div class="col-md-5">
                        <div> <span class="left_labels">
                            Email : </span></div>
                      </div>
                      <div class="col-md-6">
                        <div><span><strong>sdfsfsd@fxgfdg.dfgddf</strong></span></div>
                      </div>
                    </div>
                    <div class="col-md-6 row">
                      <div class="col-md-6">
                        <div> <span class="left_labels">
                          Contact Number : </span></div>
                      </div>
                      <div class="col-md-6">
                        <div><span><strong>8965745632589</strong></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>


        </div>
      </div>
  </section>
</div>
