<div id="ticketCom">
  <!-- Main content -->
  <section class="content">
      <div id="tickets-cont-dev">

        <section class="content-header">
          <button mat-button>
            <a href="/cosmetologist">
            <mat-icon class="back-icon">keyboard_arrow_left</mat-icon>
            <span > Back to Cosmetologist List</span>
            </a>
          </button>
        </section>

        <div class="row">
          <div class="col-md-6 profile-section-split">
            <div class="content-left-area-tickets-single organization-details">
              <h2>Costmetologist Profile</h2>
              <div class="panel-custom clearfix">
                <div class="profile-section clearfix" style="background: #f4f4f7;">
                  <img src="{{cosmetologistDetails?.userProfileUrl}}"
                       class="profile-pic">
                  <div class="display">
                    <div class="profile-name-design">{{cosmetologistDetails?.fullName}}</div>
                  </div>
                </div>
              </div>

              <div class="panel-custom clearfix">
                <div class="detail_section clearfix">
                  <div class="row col-md-12">
                    <div class="col-md-2">
                      <div> <span class="left_labels">
                            Address : </span></div>
                    </div>
                    <div class="col-md-9">
                      <div><span><strong>{{cosmetologistDetails?.address}}</strong></span></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel-custom clearfix">
                <div class="detail_section clearfix">
                  <div class="row col-md-12">
                    <div class="col-md-6 row">
                    <div class="col-md-5">
                      <div> <span class="left_labels">
                            Email : </span></div>
                    </div>
                    <div class="col-md-6">
                      <div><span><strong>{{cosmetologistDetails?.email}}</strong></span></div>
                    </div>
                    </div>
                    <div class="col-md-6 row">
                    <div class="col-md-6">
                      <div> <span class="left_labels">
                          Contact Number : </span></div>
                    </div>
                    <div class="col-md-6">
                      <div><span><strong>{{cosmetologistDetails?.phone}}</strong></span></div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

          <div class="col-md-6 shop-section-split" *ngIf="cosmetologistDetails?.shopId">
            <div class="content-left-area-tickets-single organization-details">
              <h2>Shop Profile</h2>
              <div class="panel-custom clearfix">
                <div class="profile-section clearfix" style="background: #f4f4f7;">
                  <img src="{{shopDetails?.shopImageUrl}}"
                       class="profile-pic">
                  <div class="display">
                    <div class="profile-name-design">{{shopDetails?.shopName}}</div>
                  </div>
                </div>
              </div>

              <div class="panel-custom clearfix">
                <div class="detail_section clearfix">
                  <div class="row col-md-12">
                    <div class="col-md-2">
                      <div> <span class="left_labels">
                            Address : </span></div>
                    </div>
                    <div class="col-md-9">
                      <div><span><strong>{{shopDetails?.address}}</strong></span></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel-custom clearfix">
                <div class="detail_section clearfix">
                  <div class="row col-md-12">
                    <div class="col-md-6 row">
                      <div class="col-md-5">
                        <div> <span class="left_labels">
                            Email : </span></div>
                      </div>
                      <div class="col-md-6">
                        <div><span><strong>{{shopDetails.email}}</strong></span></div>
                      </div>
                    </div>
                    <div class="col-md-6 row">
                      <div class="col-md-6">
                        <div> <span class="left_labels">
                          Contact Number : </span></div>
                      </div>
                      <div class="col-md-6">
                        <div><span><strong>{{shopDetails?.phone}}</strong></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>


        </div>
      </div>
  </section>
</div>
