<div class="row-main row">
  <div class="col-sm-6">
    <div class="roles_policies_tbl">

      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Service Image">
          <th mat-header-cell *matHeaderCellDef class="mat-header-size">Service Image</th>
          <td mat-cell *matCellDef="let data" class="mat-cell-size">
            <a style="cursor: pointer">
              <div class="width-roleName">
                <img class="w-50 service-profile" src="{{data.profileUrl}}">
              </div>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="Service Name">
          <th mat-header-cell *matHeaderCellDef class="mat-header-size">Service Name</th>
          <td mat-cell *matCellDef="let data" class="mat-cell-size">
            {{data.serviceName}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef class="mat-header-size">Action</th>
          <td mat-cell *matCellDef="let data;let i = index" class="mat-cell-size">
            <a class="btn btn-sm btn-action">
              <div class="ripple" matTooltip="Edit" (click)="editUpdate(data)">
                <i class="far fa-edit edit-icon"></i>
              </div>
            </a>
            <a class="btn btn-sm btn-action">
              <div class="ripple">
                <button class="btn btn-assigned" (click)="serviceDelete(data)">
                  <i class="fas fa-trash-alt delete-icon"></i>
                </button>
              </div>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnTitle"></tr>
        <tr mat-row *matRowDef="let row; columns: columnTitle;"></tr>
      </table>
      <div *ngIf="rowCount === 0" class="no-data">No Data</div>
      <mat-paginator #paginator [pageSizeOptions]="pageSizeArray" showFirstLastButtons (page)="onChange($event)" [length]="rowCount" [pageSize]="limit"></mat-paginator>
    </div>
  </div>
  <div class="col-sm-6">
    <mat-card>
      <div class="field-div">
        <div class="row">
          <div class="col-sm-10 policy-header-div">
            <mat-label class="policy-header-label">New Service</mat-label>
          </div>
        </div>
        <hr class="hr-class">
        <form novalidate #formDirective="ngForm" [formGroup]="serviceForm" >
          <div class="form-group form-div">
            <div class="row div-row-form">
              <div class="col-sm-4 roles-col-size">
                <mat-label class="field_label">Service Name</mat-label>
                <!-- <label class="field_label">Service Name</label> -->
              </div>
              <div class="col-sm-8 form-col-size">
                <div class="row div-row-form">
                  <div class="col-sm-12">
                    <mat-form-field class="example-full-width w-100" appearance="outline">
                      <mat-label class="letter">Service Name</mat-label>
                      <input name="serviceName" class="letter" matInput type="text" placeholder="Service Name" formControlName="serviceName" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row div-row-form" *ngIf="profileUrl !== ''">
                  <div class="col-sm-12">
                    <div class="fileinput-new thumbnail" style="width: 150px;">
                      <img class="w-profile" src="{{profileUrl}}" (error)="setDefaultPic()">
                    </div>
                  </div>
                </div>
                <div class="row div-row-form">
                  <div class="col-sm-12">
                    <div class="btn btn-default btn-file">
                        <span class="fileinput-new">
                          <input type="hidden" value="" name="">
                           <input #inputFile class="input-file letter" type="file" id="myFiles" accept=".svg, .jpg, .jpeg, .png" (change)="fileChange($event)">
                       </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- <div class="col-sm-4"></div> -->
                  <div class="col-sm-12 div-col-createRole">
                    <button name="submitBtn" mat-button class="service-update letter" type="submit" (click)="addUpdateService()">{{serviceText}}</button>
                    <button mat-button class="btn cancel-button letter" (click)="cancel()">Cancel</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
