.no-data {
  text-align: center;
  margin-top: 10px;
  color: black;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 7px 15px;
  background-color: #e0ebe0;
  border: 1px solid #e4eaec;
}

.img-circle {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.pull-right{
  font-size: 12px;
  margin-left: 2%;
}
.block{
  font-size: larger;
  color: darkcyan;

}
.message{
  font-weight: bold;
  color: #337ab7;
  padding: 15px;
}
.comments-list {
  padding-top: 30px;
  position: relative;
  padding-right: 25px;
  border-radius: 15px;
}
.comments-list:before {
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 32px;
  top: 0;
}

.comments-list:after {
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.content-split {
  border-bottom: 1px solid darkgreen;
  padding: 10px;
  margin: 10px;
}
.image-UI {
  padding-top: 15px;
}


.panel-body {
  padding-bottom: 10px;
}