<div id="ticketCom">
  <!-- Main content -->
  <section class="content">
    <div id="tickets-cont-dev">

<div>
  <section>
    <div>
<!--      <section class="panel">-->
        <div class="panel-body">

            <ul class="comments-list" *ngFor="let activity of dataSource">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-1 image-UI">
                    <img class="img-circle" src="{{activity.custProfileUrl}}">
                  </div>
                <div class="col-md-11">
                <div class="content-split">
                  <strong class="block">
                    {{activity.name.substring(0, 1).toUpperCase() +
                  activity.name.substring(1).toLowerCase()}}
                  </strong>
                  <span class="pull-right">
                    {{ activity.createdTime | date:'medium' }}
                  </span>
                </div>

                <div class="message">
                  {{activity.message}}<strong style="color:#007bff">
                </strong>
                </div>
                </div>
                </div>
              </li>
            </ul>

        </div>
<!--      </section>-->
    </div>
  </section>
</div>
    </div>
  </section>
</div>
