<div id="ticketCom">
  <!-- Main content -->
  <section class="content">

<!--    <div class="panel-heading">-->
<!--      <h3 class="panel-title">Profile</h3>-->
<!--    </div>-->
    <div class="">
      <div id="tickets-cont-dev">

        <div class="login-box-heading">
          <h1 class="head-font">Profile</h1>
        </div>

        <div class="details">

          <div class="line-height">
            <div class="left-half">
              <div class="bold-font">User name</div>
            </div>
            <div class="right-half">
              <div class="details-color">Admin</div>
            </div>
            <div class="invLine"></div>
            <div class="left-half">
              <div class="bold-font">Email</div>
            </div>
            <div class="right-half">
              <div class="details-color">test@softsuave.com</div>
            </div>
            <div class="invLine"></div>
            <div class="left-half">
              <div class="bold-font">Conatct Number</div>
            </div>
            <div class="right-half">
              <div class="details-color">9854726985</div>
            </div>
            <div class="invLine"></div>



            <div class="form-group form-default">
              <div>
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <div>

                    <div class="left-half">
                      <div class="bold-font">Profile Image</div>
                    </div>
                    <div class="right-half">
                      <div class="fileinput-new thumbnail" style="width: 150px;">
                        <img class="w-100" src="https://swivr-dev.s3.us-east-2.amazonaws.com/customer/image-f037f40a-ec11-4a8b-abce-ba997260ed18.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA4GG3GNFSZGKCSXRI%2F20210104%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20210104T130759Z&X-Amz-Expires=3600&X-Amz-Signature=48f0922bb49c36e9132ea93fdddebcecb3fb2e9b3fb1eb6e66e8cbb866246720&X-Amz-SignedHeaders=host">
                      </div>


                      <!--<div class="btn btn-default btn-file">
                        <span class="fileinput-new">
                          <input type="hidden" value="" name="">
                           <input #inputFile class="input-file" type="file" id="myFiles" accept=".png, .jpg, .jpeg">
                       </span>
                      </div>-->
                    </div>

<!--                    <a *ngIf="isDelete" title="Remove" (click)="removeFiles()" class="btn btn-sm btn-add-more"><i-->
<!--                      *ngIf="isDelete" aria-hidden="true"-->
<!--                      class="fai fa-trash-o text-danger fa-lg "></i></a>-->
                  </div>
                  <div id="valid_msg" style="color: #e11221"></div>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </section>
</div>
