<div id="ticketCom">
  <!-- Main content -->
  <section class="content">
    <div class="">
      <div id="tickets-cont-dev">

        <div class="login-box-heading">
          <h1 class="head-font display">Profile</h1>

          <button type="submit" mat-flat-button color="primary" class="display right-align edit-icon"
                  (click)="editUpdate('edit')" *ngIf="!isUpdate">Edit</button>
        </div>

        <div class="details" *ngIf="!isUpdate">

          <div class="line-height">
            <div class="left-half">
              <div class="bold-font">User name</div>
            </div>
            <div class="right-half">
              <div class="details-color">{{profileDetails.fullName}}</div>
            </div>
            <div class="invLine"></div>
            <div class="left-half">
              <div class="bold-font">Email</div>
            </div>
            <div class="right-half">
              <div class="details-color">{{profileDetails.email}}</div>
            </div>
            <div class="invLine"></div>
            <div class="left-half">
              <div class="bold-font">Conatct Number</div>
            </div>
            <div class="right-half">
              <div class="details-color">{{profileDetails.phone}}</div>
            </div>
            <div class="invLine"></div>



            <div class="form-group form-default">
              <div>
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <div>

                    <div class="left-half">
                      <div class="bold-font">Profile Image</div>
                    </div>
                    <div class="right-half">
                      <div class="fileinput-new thumbnail" style="width: 150px;">
                        <img class="w-100" src="{{profileDetails.adminProfileUrl}}">
                      </div>

                    </div>

                  </div>
                  <div id="valid_msg" style="color: #e11221"></div>
                </div>
              </div>
            </div>


          </div>

        </div>


        <div class="details" *ngIf="isUpdate">

          <form [formGroup]="profileForm">
            <div class="line-height">
            <div class="left-half">
              <div class="bold-font">User name</div>
            </div>
            <div class="right-half">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label class="label-name">User name</mat-label>
                <input matInput placeholder="User name" formControlName="username">
              </mat-form-field>
            </div>
            <div class="invLine"></div>
            <div class="left-half">
              <div class="bold-font">Email</div>
            </div>
            <div class="right-half">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label class="label-name">Email</mat-label>
                <input type="email" matInput placeholder="Email" formControlName="email">
              </mat-form-field>
            </div>
            <div class="invLine"></div>
            <div class="left-half">
              <div class="bold-font">Conatct Number</div>
            </div>
            <div class="right-half">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label class="label-name">Contact Number</mat-label>
                <input matInput placeholder="Contact Number" formControlName="contact">
              </mat-form-field>
            </div>
            <div class="invLine"></div>



            <div class="form-group form-default">
              <div>
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <div>

                    <div class="left-half">
                      <div class="bold-font">Profile Image</div>
                    </div>
                    <div class="right-half">
                      <div class="fileinput-new thumbnail" style="width: 150px;">
                        <img class="w-100" src="https://swivr-dev.s3.us-east-2.amazonaws.com/customer/image-f037f40a-ec11-4a8b-abce-ba997260ed18.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA4GG3GNFSZGKCSXRI%2F20210104%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20210104T130759Z&X-Amz-Expires=3600&X-Amz-Signature=48f0922bb49c36e9132ea93fdddebcecb3fb2e9b3fb1eb6e66e8cbb866246720&X-Amz-SignedHeaders=host">
                      </div>


                      <div class="btn btn-default btn-file">
                        <span class="fileinput-new">
                          <input type="hidden" value="" name="">
                           <input #inputFile class="input-file" type="file" id="myFiles" accept=".png, .jpg, .jpeg">
                       </span>
                      </div>
                    </div>

                    <a title="Remove" class="btn btn-sm btn-add-more">
                      <i aria-hidden="true" class="fai fa-trash-o text-danger fa-lg "></i>
                    </a>
                  </div>
                  <div id="valid_msg" style="color: #e11221"></div>
                </div>
              </div>
            </div>


            <div class="w-50 update-button">
              <button type="submit" mat-flat-button color="primary"
                      class="display edit-icon">Update</button>

              <button type="submit" mat-flat-button
                      class="display cancel-button" (click)="editUpdate('cancel')">Cancel</button>
            </div>

          </div>

          </form>

        </div>


      </div>
    </div>
  </section>
</div>
