@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
  font-size: 15px;
  color: #212121;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.7px;
}


html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.display {
  display: inline-block;
}

h1 {
  font-family: Raleway,sans-serif;
  /*font-weight: 400;*/
  font-style: normal;
  color: #414141;
  margin: 1em 0;
  font-size: 26px;
  line-height: 40px;
}
.common-color {
  color: #212121;
}
.common-font-size {
  font-size: 15px;
}
.bold-font {
  font-weight: bold;
}
.mouse-events {
  cursor: pointer;
}
.link-color {
  color: #988c88;
}
.common-padding {
 padding: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
