table{
  width: 100%;
  border-collapse: inherit !important;
}
.mat-header-cell{
  font-size:16px !important;
  background: #F0F0F0 !important;
}
.mat-cell-size{
  font-size: 14px !important;
  color: #585858;
}
.border-list{
  padding-left:10px;
}
.row{
  flex-wrap: initial;
}
.mat-paginator-range-label{
  padding-left: 20px;
}
.div-row-form{
  padding:10px;
}
.row.div-row-form{
  padding:0px;
}
.common{
  display: inline-block;
}

td:first-child, th:first-child {
  width: 20%;
}
.no-data {
  text-align: center;
  margin-top: 10px;
  color: black;
}
.view-icon {
  color: #007bff;
}
